<tr id="rowid " name='row'>
    <th scope='row'>
        <button type='button' onclick=RemoveClass('" + rowid + "')  name='rmv-class' class='btn btn-success btn-sm'> 
            <span class='fa fa-close'></span> 
        </button> 
    </th> 
    <td>
        <select name='days'>
            <option>Lunes</option>
            <option>Martes</option>
            <option>Miercoles</option>
            <option>Jueves</option>
            <option>Viernes</option>
            <option>Sabado</option>
            <option>Domingo</option>
        </select>
    </td>
        <td><input  type='time' value='22:53'></td>
        <td><input  type='time' value='22:53'></td>
</tr>
    