<head>
    <link rel="stylesheet" href="/css/AcademiasAll.css">
</head>
{{> navStudent}}
<div class="content mt-5">
    <div class="container">
        <div>
            <div class="text-center card-box">
                <h6 class="mt-4">Nombre de la clase</h6>
                <div class="col">
                    <input name="nombre" type="text" class="form-control"
                        value="{{clase.nombre}}" disabled>
                </div>
                <h6 class="mt-4">Alumnos máximo</h6>
                <div class="col">
                    <input name="nombre" type="number" class="form-control"
                        value="{{clase.alumnosMax}}" disabled>
                </div>
                <div class="col">
                    <button class="btn btn-dark"><a class=" text-light"
                            href="/links/Inscripcion">Inscribirme</a></button>
                </div>
            </div>
        </div>
    </div>
</div>