<div class="map">
    <button id="ubicate" class="btn-ubicate fa fa-dot-circle-o"></button id="ubicate">
    <div class="map-templete" id="map-template"></div>
</div>


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="/js/studentsMap.js"></script>

<script>
    {{#each Academies}}
        coords = [{{longitud}} ,{{latitud}}];
        createAcademyMarker(coords, '{{nombre}}');
    {{/each}}
</script>