<head>
    <link rel="stylesheet" href="/css/index-style.css">
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="stylesheet" href="/css/singin.css">
</head>
{{> navigation}}
<img src="/Resources/funny.gif" class="cover-video" alt="Funny image"> 
<div class="contrast"></div>

<div class="card text-center mx-auto pt-3 mt-5 login">
  <h2 class="text-white">Iniciar sesion</h2>
</div>

        <div class="body">
            {{>Messages}}
        <form action="/signin" method="POST" class="login-form w-75 mx-auto">

                <div class="mb-3 pt-5">
                    <label class="text-uppercase">Usuario</label>
                    <input type="text" name="Correo" id="Correo" class="form-control box" placeholder="Usuario" required>
                </div>
                <div class="mb-3 pt-2">
                    <label class="text-uppercase">Contraseña</label>
                    <input type="password" name="Password" id="Password" class="form-control box" placeholder="Contraseña" required>
                </div>
                <div class="row mt-5">
                    <div class="col ml-4" >
                        <input type="submit" id="Register" class="btn btn-costum btn-success" value="Iniciar sesión"></input>
                    </div>
                    <div class="col ml-4  ">
                        
                            <a class="a-btn btn btn-info text-light" href="/links/type" style="border-radius: 10px;">Cuenta nueva</a>
                        
                    </div>
                </div>
            </form>

        </div>
        
 
            
          
    <script src="/js/Login.js"></script>
    